{% extends 'core/base.html' %}

{% block title %}Accueil - LinuxPicker{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-5 text-primary">Liste des distributions Linux</h1>

    <div class="row">
        {% for distro in distributions %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ distro.image.url }}" class="card-img-top" alt="{{ distro.nom }}">
                <div class="card-body">
                    <h5 class="card-title">{{ distro.nom }}</h5>
                    <p class="card-text">{{ distro.description|truncatechars:120 }}</p>
                    <a href="{% url 'tutoriels' distro.id %}" class="btn btn-sm btn-outline-primary me-2">Voir les tutoriels</a>
                    <a href="{% url 'distribution_detail' distro.id %}" class="btn btn-sm btn-primary">Voir détails</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
